{% extends 'core/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
	{% bootstrap_icon 'question-sign' %} Sobre
{% endblock %}


{% block content %}
	<h3>Cursos Ciência da Computação</h3>
	<h4>Versão:</h4>
	<ul>
		<li>1.0 de Novembro de 2020</li>	
	</ul>
	<h4>Apoio:</h4>
	<ul>
		<li>Universidade Franciscana</li>
	</ul>
	<h4>
		Colaboradores:
	</h4>
	<ul> 
		<li><strong>UFN</strong></li>
			<ul>
				<li>Professor:</li>
				<ul>
					<li>Alexandre Zamberlan</li>
				</ul>
				<li>Alunos:</li>
				<ul>
					<li>Cássio Gamarra e Frederico Hartmann</li> 
					<li>Disciplina Tópico Avançados em Informática I - Ciência da Computação</li> 
				</ul>
			</ul> 
	</ul> 
	
{% endblock %}