{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block actions %}
{% endblock %}

{% block title %}
	{% bootstrap_icon 'list-alt' %} Nova Triagem
{% endblock %}

{% block content %}
<form class="form" role="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.non_field_errors }} -->
    
    {% for error in form.non_field_errors %}
      {% bootstrap_alert error 'danger' %}
    {% endfor %}
    <!-- dizendo para o bootstrap utilizar todos os atributos definidos em views.py --> 
    {% bootstrap_form form %} 
    {% buttons submit='Gravar' %}
       <a href="javascript:history.go(-1);" class="btn btn-info" role="button">Voltar</a>
    {% endbuttons %}
</form>
<script>
  //Define uma máscara para o campo data
  document.getElementById('id_data').setAttribute('type', 'date');
  document.getElementById('id_data').style.lineHeight = 1;
  //Define uma máscara para o campode hora
  document.getElementById('id_hora').setAttribute('type', 'time');
  document.getElementById('id_hora').style.lineHeight = 1;  

  document.getElementsByClassName('control-label').item(8).setAttribute('id', 'id_label_resultado'); //Adiciona um ID para o label do resultado
  let resultado = document.getElementById('id_resultado'); 
  let label_resultado = document.getElementById('id_label_resultado');
  let imc = document.getElementById('id_imc');  
  /*Seta os atributos como somente leitura*/
  imc.setAttribute('readOnly', 'true');
  resultado.setAttribute('readOnly', 'true');
  label_resultado.innerText = "Resultado: Sem Sintomas";
  resultado.style.backgroundColor = "#5bc0de";
  resultado.style.color = '#FFFFFF';
  resultado.value = 0; 
  /*Cálculo IMC*/
  let altura = document.getElementById('id_altura');
  let peso = document.getElementById('id_peso');
  
    
  altura.onchange = () => calcularIMC(); 
  peso.onchange = () => calcularIMC(); 

  /*Calculo Triagem*/
  let febre = document.getElementById('id_febre');
  let dor_cabeca = document.getElementById('id_dor_cabeca');
  let secrecao_espirro = document.getElementById('id_secrecao_espirro');
  let dor_garganta = document.getElementById('id_dor_garganta');
  let tosse_seca = document.getElementById('id_tosse_seca');
  let dificuldade_respiratoria = document.getElementById('id_dificuldade_respiratoria');
  let dores_corpo = document.getElementById('id_dores_corpo');
  let diarreia = document.getElementById('id_diarreia');
  let viagem_covid = document.getElementById('id_viagem_covid');
  let contato_covid = document.getElementById('id_contato_covid');
  
  febre.onchange = () => calcularResultado();
  dor_cabeca.onchange = () => calcularResultado();
  secrecao_espirro.onchange = () => calcularResultado();
  dor_garganta.onchange = () => calcularResultado();
  tosse_seca.onchange = () => calcularResultado();
  dificuldade_respiratoria.onchange = () => calcularResultado();
  dores_corpo.onchange = () => calcularResultado();
  diarreia.onchange = () => calcularResultado();
  viagem_covid.onchange = () => calcularResultado();
  contato_covid.onchange = () => calcularResultado();

  function calcularResultado() {
    let pontuacao = 0;

    if(febre.checked){ pontuacao = pontuacao + 5; }
    if(dor_cabeca.checked){ pontuacao = pontuacao + 1; }
    if(secrecao_espirro.checked){ pontuacao = pontuacao + 1; }
    if(dor_garganta.checked){ pontuacao = pontuacao + 1; }
    if(tosse_seca.checked){ pontuacao = pontuacao + 3; }
    if(dificuldade_respiratoria.checked){ pontuacao = pontuacao + 10; }
    if(dores_corpo.checked){ pontuacao = pontuacao + 1; }
    if(diarreia.checked){ pontuacao = pontuacao + 1; }
    if(viagem_covid.checked){ pontuacao = pontuacao + 3; }
    if(contato_covid.checked){ pontuacao = pontuacao + 10; }

    resultado.value = pontuacao;

    gerarPontuacao(pontuacao);
  } 
  
  //Função para gerar as cores da pontuação
  function gerarPontuacao(pontuacao) {
    if (pontuacao >= 1 && pontuacao <= 9) {
      label_resultado.innerText = "Resultado: Risco Baixo";
      resultado.style.backgroundColor = "#0ba44a";
    } else if (pontuacao >= 10 && pontuacao <= 19) {
      label_resultado.innerText = "Resultado: Risco Médio";
      resultado.style.backgroundColor = "#f78222";
    } else if (pontuacao >= 20) {
      label_resultado.innerText = "Resultado: Risco Alto";
      resultado.style.backgroundColor = "#ec2e30";
    } else {
      label_resultado.innerText = "Resultado: Sem Sintomas";
      resultado.style.backgroundColor = "#5bc0de";
    }    
  }

  //Função para calcular o IMC
  function calcularIMC() {
    if (altura.value > 0 && peso.value > 0) {
      imc.value = parseFloat((Number(peso.value) / (Number(altura.value) * Number(altura.value))).toFixed(2));
    }
  }
</script>
{% endblock %} 