{% extends 'core/base.html' %}
{% load bootstrap3 %}

{% block title %}
	{% bootstrap_icon 'list-alt' %} Triagens
{% endblock %}

{% block content %}
	<div class="panel panel-default">
	  <div class="panel-body">
	    <a href="{% url 'triagem_create' %}" class="btn btn-md btn-primary">{% bootstrap_icon 'floppy-disk' %} Nova Triagem</a>
	  </div>
	</div>
	<table class="table table-hover">
  		<thead> 
			<th>Código</th>
			<th>Data</th>
			<th>Hora</th>
			<th>Paciente</th> 
			<th>Resultado</th>
			<th class="text-center">Visualizar</th>
  		<th class="text-center">Editar</th>
  		<th class="text-center">Excluir</th>
  		</thead>

  		<tbody>
			{% for triagem in object_list %} 
					<tr>
						<td>{{ triagem.codigo }} </td> 
						<td>{{ triagem.data|date:'d/m/Y' }}</td>
						<td>{{ triagem.hora}}</td>
						<td>{{ triagem.nome }}</td> 
						{% if triagem.resultado >= 1 and triagem.resultado <= 9 %} 
								<td style="background-color: #10a24d; color: #ffffff">
									<p>Risco Baixo</p>
								</td> 
						{% elif triagem.resultado >= 10 and triagem.resultado <= 19 %} 
								<td style="background-color: #f28422; color: #ffffff">
									<p>Risco Médio</p>
								</td> 
						{% elif triagem.resultado >= 20 %} 
								<td style="background-color: #eb2f30; color: #ffffff">
									<p>Risco Alto</p>
								</td> 
						{% else %}
							<td style="background-color: #337ab7; color: #ffffff">
								<p>Não apresentou sintomas</p>
							</td>
						{% endif %}
						<td class="text-center"> 
							<span  data-toggle="tooltip"  title='Visualizar triagem'>
								{% bootstrap_button content='' href=triagem.get_visualiza_url button_type='link' icon='eye-open' button_class='btn btn-success' size='sm' %}
							</span>
						</td>
						<td class="text-center">
							<span  data-toggle="tooltip"  title='Editar'>
							{% bootstrap_button content='' href=triagem.get_update_url button_type='link' icon='edit' button_class='btn btn-primary' size='sm' %}
							</span>
						</td>
						<td class="text-center">
							<span  data-toggle="tooltip"  title='Excluir'>
							{% bootstrap_button content='' href=triagem.get_delete_url button_type='link' icon='trash' button_class='btn btn-danger' size='sm' %}
							</span>
						</td>
					</tr> 
			{% endfor %}
  		</tbody>
	</table>
{% endblock %}